h1 {
    text-align:center;
    background-color: rgb(129, 171, 203);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(22, 27, 24);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(143, 116, 130);
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.looks {
    background-color: rgb(230, 198, 216)

}
.moda{
   color: rgb(218, 167, 186);
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }